/* Menu.css */
.sousMenu {
  /* background: url(/images/background.jpg); */
  left: -100vw;
  visibility: hidden;
  transition: all 0.4s ease;
}

.show-menu .sousMenu {
  left: 0;
  visibility: visible;
}

.containerBurger {
  position: absolute;
  top: 30px;
  left: 4%;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .containerBurger {
    top: 20px;
    left: 25px;
  }
  .burger-menu {
    background-color: #1B1A2A;
  }
}

.burger-menu {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1000;
}

.burger-menu .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.burger-menu .bar:nth-child(1),
.burger-menu .bar:nth-child(3) {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out, top 0.2s 0.2s ease-in-out;
}
.burger-menu.cross .bar:nth-child(1) {
  transform: rotate(-45deg);
  top: 15px;
  transition: transform 0.2s 0.2s ease-in-out, top 0.2s ease-in-out;
}

.burger-menu.cross .bar:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.burger-menu.cross .bar:nth-child(3) {
  transform: rotate(45deg);
  top: 15px;
  transition: transform 0.2s 0.2s ease-in-out, top 0.2s ease-in-out;
}

.burger-menu .bar:nth-child(1) {
  top: 5px;
  position: absolute;
}

.burger-menu .bar:nth-child(2) {
  top: 15px;
  position: absolute;
  transition: opacity 0.2s 0.2s ease-in-out;
}

.burger-menu .bar:nth-child(3) {
  top: 25px;
  position: absolute;
}
