@tailwind utilities;

@font-face {
  font-family: Raleway;
  src: url(./Raleway-VariableFont_wght.ttf);
}

* {
  font-family: "Raleway", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

/* A PROPOS */

.customBackground {
  background: url(/images/background.jpg);
  background-size: cover;
}

.aboutImage {
  background: url(images/avatar.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.degrade-span {
  background: linear-gradient(90deg, #65f54c, #4cacf5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block; /* Pour que le dégradé s'applique correctement */
}

/* MES COMPETENCES / OUTILS */

.skill-card {
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.skill-card .skill-name {
  display: none;
  font-family: "raleway";
}

.skill-card:hover .skill-name {
  display: block;
}

.skill-card:hover {
  background-color: #71718F;
}
