@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  color: white;
}

.customBackground {
  background: url(/images/background.jpg);
  background-size: cover;
}

.aboutImage {
  background: url(images/avatar.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

/* MES REALISATIONS */

.degrade-span {
  background: linear-gradient(90deg, #00b700, #00bfff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block; /* Pour que le dégradé s'applique correctement */
}